@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: rgb(255, 255, 255);
  }

.logo {
    color: white;
    font-size: 3em;
}

#nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0,0,0,.7);
}

#header{
    background: url("/assets/image.jpg") no-repeat center center;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
}

.nav_s2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
}

p{
    margin: 0 !important;
}

.nav_btn1 {
    width: 15em;
    height: 2.5rem;  
    color: white;
    background: none !important;  
    border:2px solid #f1654d !important;
    border-radius: 0.5rem !important;
    outline:none;
    margin-right: 1em;
}

.nav_btn2{
    width: 15em;
    height: 2.5rem;  
    color: white;
    background: #f1654d;  
    border-radius: 0.5rem;
}

form{
    display:grid;
    grid-template-columns: 4fr 1fr;
    /* border: 1px solid grey; */
    /* background-color: rgba(0,0,0,.7); */
    padding: 1em;
    
}

.search_btn{
    width: 15em;
    height: 2.5rem;  
    color: white;
    background: #f1654d;  
    border-radius: 0 0.5rem 0.5rem 0;
}

input{
    height: 2.5rem;
    padding-left: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem 0 0 0.5rem;
    outline: none;
}

input:focus{
    outline:none;
}

#search{
    background: url("/images/image.jpg") no-repeat center center ;
    height: 500px;
    background-size: cover;
    display:flex;
    height:80%;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.border_bottom{
    width: 100%;
    height:2em;
    background-color: #f1654d;
}

#main {
    width: 60%;
    margin: auto;
    margin-top: 5em;
}

.underline{
    width: 5em;
    height: 4px;
    background: #f1654d;
}

.categories_options{
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1em;
}

.categories_options div img{
    width: 40px;
}

.options {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1em;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 15px;

}

.options p {
    font-size: 1.3em;
   
}



#sponsored{
    
    margin-top: 1em;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
grid-gap: 1.5em;
  
   
}


.mostPopular {
    margin-top: 3em
}

.app1{
    text-decoration: none;
    color: black;
    justify-self:center;

}

.app1 img{
    width: 100%;
}

.app1 h5 {
    font-size:18px; 
    font-weight: 600;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #details {
      display:none;
  }

  #add_appartment{
      display: none;
  }
.appartment_details_table{
    display: flex;
    
}

.subpage_main{
    display:grid;
    grid-template-columns: 1fr;
    width: 50%;
    margin:auto;

}

.subpage_main h2 {
    font-weight: 700;
    font-size: 32px;
    margin-top:1em;
}

.subpage_main h5 {
    margin-top: 1em;;
}

.subpage_main p {
    font-size: 16px;
    color: rgb(84, 84, 84);

}

.description{
    color: black;
    margin-top: 1em !important;
}
.column1 {
        border-collapse: collapse;
        width: 100%;
}

.column1 ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.column1 ul:nth-child(even) {
    background-color: #f2f2f2;
}

#signup_page h2{
    margin-bottom:1em;
}

.signup_form{
    padding: 0;
    margin: auto;
    display: flex;
    width: 30%;
    flex-direction: column;
   
}

.signup_form div{
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
}

.signup_btn {
    width: 100%;
    margin-top: 1em;
}

.alreadyLogin {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alreadyLogin h2 {
    font-size: 1.5em;
}

.login_btn{
    color: black;
}


.user_img {
    width: 30px;
}

.account_nav p {
    font-size: 16px;
    margin: 0 5px 0 20px !important;
    color: white;
}

.arrow {
    width: 20px;
}

.account_nav{
    display:flex;
    align-items: center;
    justify-content: space-around;
}

#create_appartment{
    width: 60%;
    margin: auto;
}
.form-check label{
    font-size: 18px;
}

.form-check{
    background-color: white;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 15px;
    padding: 10px;
}

textarea{
    width: 50%;
}

#dashboard {
    width: 60%;
    margin: auto;
}

.dashboard_containers{
    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 2em;
}

.dashboard_list{
    grid-template-columns: 1fr 1fr 1fr;
}

.availability{
   display: flex;   
   flex-direction: column;
   text-align: center;
   position: absolute;
   left: 95em;
   box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
border-radius: 12px;
padding: 1em 2em 1em 2em;
}

.monthly_price{
    font-size: 20px;
    font-weight: 500;
}

.price{
    font-weight: 700;
    font-size: 30px !important;
}

.apply_rent{
    border-radius: 0;
    
}

#apply_form {
    width: 60%;
    margin: auto;
    margin-top: 2em;
}

.apply_form_container {
    margin-top: 2em;
    display:flex;
    flex-direction: row;
}

.step1>p:first-child {
border-bottom: 1px solid black;
}

.step1  {
    border: 1px solid gray;
    padding: 1em;
}

.step1_content {
    margin-bottom: 1em;
    display: flex;
}

.step1_content img {
    width: 30%;
}

.apply_form {
    padding: 0;
    display:flex;
    flex-direction: column;
}

.step2 {
    border: 1px solid gray;
    padding: 1em;
    margin-top: 1em;
}

.landlord_profile_container{
    width: 60%;
    margin: auto;
    margin-top: 3em;   
}

.welcome {
    font-size: 2.5em;
}

.side_menu {
    border-right: 1px solid gray;
}

.profile_main{
    margin-top: 2em;
    display:grid;
    grid-template-columns: 1fr 6fr;
}

.side_menu ul li{
    line-height: 30px;
}

#appointments {
    display:none;
}

